#Uppgift37 .card > a {
	width: 100%;

	color: #fff;
	background-color: #333;
	border-radius: 0.5em;
	outline: none;

	text-decoration: none;
	user-select: none;
	overflow: hidden;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: stretch;

	transform: scale(1);
	transition: transform 0.1s ease-in-out;

	&:hover {
		transform: scale(1.07);
	}

	& > img {
		grid-area: image;

		width: 100%;
		aspect-ratio: 1 / 1;

		display: block;
		user-select: none;
		pointer-events: none;
	}

	& > div {
		padding: 0.5em;
		flex-grow: 1;

		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
		justify-content: stretch;
		gap: 0.5em;

		& > h1 {
			font-size: 1.5em;
		}

		& > p {
			flex-grow: 1;
		}

		& > .right {
			text-align: right;
		}
	}
}
