@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

#Uppgift37 {
	min-height: 100vh;
	box-sizing: border-box;

	color: #fff;
	background-color: #111;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	& * {
		margin: 0;
		padding: 0;
		font-size: 1em;
	}

	& h1 {
		font-size: 2em;
	}

	& h2 {
		font-size: 1.5em;
	}

	& h3 {
		font-size: 1.25em;
	}

	& ul,
	& ol {
		padding-left: 2em;
		list-style: disc;
	}

	& > header {
		width: 100%;
		padding: 1em;
		box-sizing: border-box;

		background-color: #333;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 1em;

		& > a {
			font-size: 1.5em;

			color: #fff;
			text-decoration: none;
		}
	}

	& > main {
		padding: 3em 1em;
		min-height: 100vh;
		box-sizing: border-box;
	}
}
