#Uppgift37 .info {
	max-width: 64em;

	& > header {
		color: #fff;
		background-color: #333;
		border-radius: 0.5em;
		overflow: hidden;

		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
		justify-content: stretch;

		&.row {
			flex-flow: row nowrap;
		}

		& > img {
			width: 100%;

			display: block;
			user-select: none;
			pointer-events: none;
		}

		& > div {
			margin: 1em;

			display: flex;
			flex-flow: column nowrap;
			gap: 0.5em;

			& a {
				color: #fff;
				text-decoration: underline;
				outline: none;
			}

			& > h2 > span {
				font-weight: normal;
			}
		}
	}
}
