#Uppgift37 .info {
	max-width: 64em;

	& > .info-section {
		color: #fff;
		background-color: #333;
		border-radius: 0.5em;
		overflow: hidden;

		display: grid;
		gap: 1.5em;
		justify-content: stretch;
		align-items: stretch;
		grid:
			"image name" auto
			"image tagline" 1fr
			/ 1fr 2fr;

		& > img {
			grid-area: image;
			width: 100%;
			aspect-ratio: 1 / 1;
		}

		& > h1 {
			grid-area: name;
			margin-top: 1em;
		}

		& > p {
			grid-area: tagline;
		}
	}
}
