#Uppgift37 .list {
	max-width: 64em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	gap: 1em;

	& > h1 {
		text-align: center;
	}

	& > .filter {
		padding: 1em;

		color: #fff;
		background-color: #333;
		border-radius: 0.5em;

		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		gap: 1em;

		& > input,
		& > select {
			padding: 0.25em;
			font-size: 1em;

			color: #fff;
			background-color: #222;
			border: 0.1em solid #fff;
			border-radius: 0.25em;
			outline: none;
		}
	}

	& > ul {
		grid-area: list;
		padding: 0;

		display: grid;
		justify-content: stretch;
		align-items: stretch;
		gap: 1.5em;
		grid-template-columns: repeat(auto-fit, minmax(15em, auto));
		grid-auto-rows: auto;

		list-style-type: none;

		& > li {
			display: flex;
			justify-content: stretch;
			align-items: stretch;
		}
	}
}
