#Uppgift37 .list {
	max-width: 64em;

	& > h1 {
		padding: 0.5em;
		text-align: center;
	}

	& > ul {
		grid-area: list;

		display: grid;
		justify-content: stretch;
		align-items: stretch;
		gap: 1.5em;
		grid-template-columns: repeat(auto-fit, minmax(15em, auto));
		grid-auto-rows: auto;

		list-style-type: none;

		& > li {
			display: flex;
			justify-content: stretch;
			align-items: stretch;
		}
	}
}
