#Uppgift36 .add-movie {
	padding: 0.5em 1em 1em 1em;
	border: 0.2em solid #000;
	border-radius: 0.5em;

	display: grid;
	gap: 0.5em 0;
	grid:
		"Head Head Head Head Head Head" auto
		"TitleLabel Title Title Title Title Title" auto
		"RatingLabel Min Rating Rating Rating Max" auto
		"GenreLabel Genre Genre Genre Genre Genre" auto
		"DescriptionLabel Description Description Description Description Description" auto
		". Clear Clear . Add Add" auto
		/ auto auto 1fr 1fr 1fr auto;

	& p {
		align-self: center;

		font-weight: bold;
		text-align: center;
	}

	& label {
		margin-top: 0.45em;
		margin-right: 0.5em;

		align-self: start;
		justify-self: end;

		font-weight: bold;
		text-align: right;
	}

	& input,
	& select,
	& textarea {
		padding: 0.25em;

		background: none;
		border: 0.2em solid #000;
		border-radius: 0.5em;
		outline: none;
	}

	& input::placeholder,
	& select > option:disabled,
	& select.placeholder {
		color: #888;
		font-style: italic;
	}

	& input[type="range"] {
		margin-block: 0.2em;
	}

	& #Head {
		text-align: center;
	}

	& textarea {
		min-height: 1.25em;
		resize: vertical;
	}

	& #Clear {
		color: #d00;
		border-color: #d00;
	}

	& #Add {
		color: #0d0;
		border-color: #0d0;
	}

	$areas: Head, Title, Min, Rating, Max, Genre, Description, Clear, Add;

	@each $area in $areas {
		& label##{$area} {
			grid-area: "#{$area}Label";
		}

		& ##{$area}:not(label) {
			grid-area: $area;
		}
	}

	/*********** Baseline, reset styles ***********/

	input[type="range"] {
		border: none;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
	}

	/* Removes default focus */
	input[type="range"]:focus {
		outline: none;
	}

	/******** Chrome, Safari, Opera and Edge Chromium styles ********/
	/* slider track */
	input[type="range"]::-webkit-slider-runnable-track {
		background-color: #000;
		border-radius: 0.2em;
		height: 0.2em;
	}

	/* slider thumb */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		margin-top: -0.4em; /* Centers thumb on the track */
		background-color: #fff;
		border: 0.2em solid #000;
		border-radius: 1em;
		height: 1em;
		width: 1em;
	}

	/*********** Firefox styles ***********/
	/* slider track */
	input[type="range"]::-moz-range-track {
		background-color: #000;
		border-radius: 0.2em;
		height: 0.2em;
	}

	/* slider thumb */
	input[type="range"]::-moz-range-thumb {
		background-color: #fff;
		border: 0.2em solid #000;
		border-radius: 1em;
		height: 1em;
		width: 1em;
	}
}
