@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#Uppgift35 {
	font-size: min(3vmin, 16px);

	min-height: 100vh;
	font-family: "Roboto", sans-serif;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	.material-symbols-rounded {
		font-variation-settings:
			"FILL" 1,
			"wght" 400,
			"GRAD" 0,
			"opsz" 40;

		line-height: 1em;
		text-align: center;
	}

	* {
		padding: 0;
		margin: 0;
	}

	button,
	input,
	input[type="checkbox"]::after {
		box-sizing: border-box;

		min-width: 1.375em;
		min-height: 1.375em;
		padding: 0.25em;
		font-size: 1em;

		color: #994538;
		background-color: #ffffff88;
		border-radius: 0.25em;

		border: none;
		outline: none;
	}

	input::placeholder {
		color: #99453888;
	}

	button,
	input[type="button"],
	input[type="submit"],
	input[type="checkbox"]::after {
		font-weight: bold;
		font-size: 2em !important;
		padding: 0.125em;

		text-align: center;

		transition:
			transform 0.15s ease-in-out,
			background-color 0.15s ease-in-out;
		transform: scale(1);
	}

	button:hover,
	input[type="button"]:hover,
	input[type="submit"]:hover,
	input[type="checkbox"]:hover::after,
	button:focus,
	input[type="button"]:focus,
	input[type="submit"]:focus,
	input[type="checkbox"]:focus::after {
		transform: scale(1.15);
	}

	button:active,
	input[type="button"]:active,
	input[type="submit"]:active {
		color: #efeae7;
		background-color: #994538;
	}

	input[type="checkbox"] {
		position: relative;
		appearance: none;

		background: none;
	}

	input[type="checkbox"]::after {
		content: " ";

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		color: #ffffffcc;
		border: #994538 solid 0.075em;

		line-height: 1em;
		text-align: center;
	}

	input[type="checkbox"]:checked:after {
		content: "done";
		background-color: #994538;
	}

	#background {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-image: url("/LEXICON-React/Uppgift35/background.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		filter: blur(0.1em);
	}

	#todo {
		width: 30em;
		padding: 1em;

		color: #994538;
		background-color: #d5c0b5aa;
		border-radius: 1em;
		backdrop-filter: blur(0.3em);

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;
	}

	#todo > h1 {
		font-size: 2em;
		text-align: center;
	}

	#todo-filter {
		margin-bottom: -0.3em;

		display: grid;
		gap: 0 0.5em;
		grid:
			"clear text" auto
			". info" auto
			/ auto 1fr;
	}

	#todo-filter-text {
		grid-area: text;
	}

	#todo-filter-clear {
		grid-area: clear;
	}

	#todo-filter-info {
		grid-area: info;
		padding-inline: 0.5em;
		text-align: right;
	}

	#todo-list {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: stretch;

		list-style-type: none;
	}

	#todo-list.draging {
		user-select: none;
	}

	#todo-add.todo-item > .date {
		color: #99453888;
	}
}
