@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#uppgift34 {
	#background1,
	#background2 {
		position: fixed;
		z-index: -1;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		background-image: url("placeholder.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		filter: brightness(50%) blur(0.25rem);
	}

	.material-icons {
		font-size: 1.5rem;

		margin: 0;
		padding: 0;

		color: #2f3e54;

		text-align: center;

		user-select: none;
	}

	.material-icons.active {
		color: #fefefe;
	}

	button {
		background-color: transparent;
		border: none;

		cursor: pointer;
	}

	img {
		display: block;
	}

	p {
		margin: 0;
		padding: 0.25rem;
	}

	small {
		font-size: 0.8em;
		font-weight: lighter !important;
	}

	position: relative;

	margin: 0;
	min-height: 100vh;
	min-width: 100vw;

	color: #fefefe;
	background-color: #444;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	font-family: "Montserrat", sans-serif;
	text-align: center;

	#player {
		width: 40rem;
		height: 40rem;
		margin: 1rem;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr;

		grid-column-gap: 0.25rem;
		grid-row-gap: 0.25rem;

		grid-template-areas:
			"header	header"
			"aside	main";
	}

	#player > * {
		box-shadow: #0008 0 0 0.5rem;
		border-radius: 0.25rem;
	}

	#player > header {
		grid-area: header;

		padding: 0.5rem 1rem;

		background-color: #17263ebb;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}

	#player > aside {
		grid-area: aside;

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;

		overflow-y: scroll;
		scrollbar-color: #fefefe #17263e;
		scrollbar-width: thin;
	}
	#player > aside::after {
		content: "";
		background-color: #17263eaa;
		flex-grow: 1;
	}

	#player > aside::-webkit-scrollbar {
		width: 0.25rem;
	}

	#player > aside::-webkit-scrollbar-thumb {
		background: #fefefe;
	}

	#player > aside::-webkit-scrollbar-track {
		background: #17263e;
	}

	#player > aside > ol {
		margin: 0;
		padding: 0;
	}

	#player > aside > ol > li:not(:last-child) {
		border-bottom: #122339 solid 0.2rem;
	}

	#player > aside > ol > li::marker {
		display: none;
	}

	#player > aside > ol > li > button {
		width: 100%;
		height: 6rem;
		max-height: 6rem;
		padding: 1rem 1.5rem;

		color: #fefefe;
		background-color: #17263e;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
	}

	#player > aside > ol > li.playing > button {
		background-color: #17263eaa;
	}

	#player > aside > ol > li.playing > button *.material-icons {
		color: #fefefe !important;
	}

	#player > aside > ol > li > button > img {
		height: 100%;
		border-radius: 0.25rem;
		box-shadow: 0 0 0.5rem #000c;

		pointer-events: none;
	}

	#player > aside > ol > li > button > p {
		font-size: 0.8rem;
		flex-grow: 1;

		margin: 0 0.5rem;

		text-align: left;
	}

	#player > main {
		grid-area: main;

		padding: 1rem;

		background: #17263e;
		background: linear-gradient(0deg, #17263eff 0%, #17263e88 100%);

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}

	#player > main > img {
		width: calc(100% - 2rem);
		margin: 1rem;
		border-radius: 1rem;
		box-shadow: 0 0 0.5rem #000c;
	}

	#player > main button {
		padding: 0.25rem;
		border-radius: 50%;
	}

	#player > main > nav {
		flex-grow: 1;

		display: grid;
		justify-content: center;
		align-items: center;

		grid:
			"add title favorite" 1fr
			"play-time play-progress length" 1fr
			"repeat center shuffle" 1fr
			/ 3rem 1fr 3rem;
	}

	#player > main > nav > div {
		grid-area: center;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	#add {
		grid-area: add;
	}

	#title {
		grid-area: title;
	}

	#favorite {
		grid-area: favorite;
	}

	#favorite.active {
		color: #fe145e;
	}

	#play-time {
		grid-area: play-time;
	}

	#play-progress {
		grid-area: play-progress;
	}

	#length {
		grid-area: length;
	}

	#repeat {
		grid-area: repeat;
	}

	#shuffle {
		grid-area: shuffle;
	}

	.fast-rewind,
	.fast-forward {
		font-size: 2.5rem;
	}

	.play-circle {
		font-size: 3rem;
	}

	@media screen and (max-width: 41rem) {
		html {
			font-size: calc(100vmin / 22);
		}

		#player {
			width: 20rem;
			height: auto;

			grid-template-columns: auto;
			grid-template-rows: auto 40rem auto;

			grid-template-areas:
				"header"
				"main"
				"aside";
		}

		#player > aside {
			overflow-y: none;
		}
	}

	/* https://range-input-css.netlify.app/ */
	/*********** Baseline, reset styles ***********/
	input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		width: 100%;

		--progress: 0%;
	}

	/* Removes default focus */
	input[type="range"]:focus {
		outline: none;
	}

	/******** Chrome, Safari, Opera and Edge Chromium styles ********/
	/* slider track */
	input[type="range"]::-webkit-slider-runnable-track {
		background-color: #0b1b31;
		border-radius: 1rem;
		height: 1rem;

		background: linear-gradient(
			to right,
			#fefefe 0%,
			#fefefe var(--progress),
			#0b1b31 var(--progress),
			#0b1b31 100%
		);
	}

	/* slider thumb */
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		/*background-color: #fefefe;*/
		background-color: transparent;
		border-radius: 1rem;
		height: 1rem;
		width: 1rem;
	}

	/*********** Firefox styles ***********/
	/* slider track */
	input[type="range"]::-moz-range-track {
		background-color: #0b1b31;
		border-radius: 0.5rem;
		height: 0.5rem;

		background: linear-gradient(
			to right,
			#fefefe 0%,
			#fefefe var(--progress),
			#0b1b31 var(--progress),
			#0b1b31 100%
		);
	}

	/* slider thumb */
	input[type="range"]::-moz-range-thumb {
		/*background-color: #fefefe;*/
		background-color: transparent;
		border: none; /*Removes extra border that FF applies*/
		border-radius: 0.5rem;
		height: 0.5rem;
		width: 0.5rem;
	}
}
