#uppgift34 .player {
	grid-area: main;

	padding: 1em;

	background: #17263e;
	background: linear-gradient(0deg, #17263eff 0%, #17263e88 100%);

	display: grid;
	justify-content: center;
	align-items: center;

	grid:
		"album-cover album-cover album-cover" auto
		"add title favorite" auto
		". . ." 1fr
		"play-time play-progress length" auto
		". . ." 1fr
		"repeat center-div shuffle" auto
		/ 3em 1fr 3em;

	$areas: album-cover, add, title, favorite, play-time, play-progress, length,
		repeat, center-div, shuffle;
	/**/

	@each $area in $areas {
		##{$area} {
			grid-area: $area;
		}
	}

	button {
		padding: 0.25em;
		border-radius: 50%;
	}

	& > img {
		width: calc(100% - 2em);
		margin: 1em;
		border-radius: 1em;
		box-shadow: 0 0 0.5em #000c;
	}

	#center-div {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	#favorite.active {
		color: #fe145e;
	}

	.fast-rewind,
	.fast-forward {
		font-size: 2.5em;
		padding: 0.1em;
	}

	.play-circle {
		font-size: 3em;
		padding: 0.08em;
	}
}
