#uppgift34 {
	#player > main {
		grid-area: main;

		padding: 1rem;

		background: #17263e;
		background: linear-gradient(0deg, #17263eff 0%, #17263e88 100%);

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}

	#player > main > img {
		width: calc(100% - 2rem);
		margin: 1rem;
		border-radius: 1rem;
		box-shadow: 0 0 0.5rem #000c;
	}

	#player > main button {
		padding: 0.25rem;
		border-radius: 50%;
	}

	#player > main > nav {
		flex-grow: 1;

		display: grid;
		justify-content: center;
		align-items: center;

		grid:
			"add title favorite" 1fr
			"play-time play-progress length" 1fr
			"repeat center shuffle" 1fr
			/ 3rem 1fr 3rem;
	}

	#player > main > nav > div {
		grid-area: center;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
	}

	#add {
		grid-area: add;
	}

	#title {
		grid-area: title;
	}

	#favorite {
		grid-area: favorite;
	}

	#favorite.active {
		color: #fe145e;
	}

	#play-time {
		grid-area: play-time;
	}

	#play-progress {
		grid-area: play-progress;
	}

	#length {
		grid-area: length;
	}

	#repeat {
		grid-area: repeat;
	}

	#shuffle {
		grid-area: shuffle;
	}

	.fast-rewind,
	.fast-forward {
		font-size: 2.5rem;
	}

	.play-circle {
		font-size: 3rem;
	}
}
